body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
}

.navbar {
  height: 8vh;
  background-color: #374051;
}

.dashboard-header {
  height: 20vh;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
}

.dashboard-header h1 {
  padding-left: 20vw;
  padding-top: 2vh;
  padding-bottom: 1vh;
}

.header-btn {
  max-width: 30vh;
}

.data-form {
  display: flex;
  justify-content: space-between;
}

.p-10 {
  padding: 10px 40px;
}

.p-2 {
  padding: 10px 40px 2px 40px;
  font-weight: bold;
}
.p-3 {
  padding: 1px 40px 10px 40px;
}
.p-4 {
  padding: 10px 40px 30px 40px;
  font-weight: bold;
}

.asc-dsc {
  width: 60%;
  padding-left: 20%;
  padding-top:10px;
}

.asc-dsc button {
  height:6vh;
  width:12vh;
  margin-left:20px;
}

.asc-dsc input {
  height:5vh;
  border:2px solid #f7f7f7;
  width:30vh;
  color:black;
  font-size:20px;
}

.asc-dsc input::placeholder {
  color:grey;
  font-size:20px;
  padding-left:7px;
}